{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static "css/blog1.css" %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <h1>Feedback Posted</h1>
    <p>Thank You for your feedback</p>

{% endblock %}