{% extends "instructor_base.html" %}

{% block title %}My courses{% endblock %}

{% block content %}
  <h1>My courses</h1>

  <div class="module">
    {% for course in object_list %}
      <div class="course-info">
        <h3>{{ course.title }}</h3>
        <p>
          <a href="{% url "instructors:course_edit" course.slug %}">Edit</a>
          <a href="{% url "instructors:course_delete" course.slug %}">Delete</a>
          <a href="{% url "instructors:course_module_update" course.slug %}">Edit modules</a>
          {% if course.modules.count > 0 %}
            <a href="{% url "instructors:module_content_list" course.modules.first.id %}">Manage contents</a>
          {% endif %}
        </p>
      </div>
    {% empty %}
      <p>You haven't created any courses yet.</p>
    {% endfor %}
    <p>
      <a href="{% url 'instructors:course_create' %}" class="button">Create new course</a>
    </p>
  </div>
{% endblock %}

{#{% url "course_create" %}#}